<footer class="footer">
    <div class="footer-container">
      <div class="footer-column">
        <h4>Onama</h4>
        <p>Studentski servis je organizacija osnovana od strane bivših učesnika Work and Travel programa s ciljem pružanja podrške studentima u BiH. Fokusirani su na pomoć pri učešću u Work and Travel programima i zapošljavanju unutar zemlje. Nude provjerene informacije, iskrene savjete i podršku tokom cijelog procesa – od prijave do povratka. Njihovo lično iskustvo kao studenata čini ih pouzdanim partnerom za mlade koji traže prilike </p>
      </div>
      <div class="footer-column">
        <h4>Quick Links</h4>
        <a href="/">Pocetna</a>
        <a href="/login">Prijavi se</a>
        <a href="/onama">O nama</a>
        <a href="/jobs">Poslovi u BiH</a>
        
      </div>
      <div class="footer-column">
        <h4>Contact Us</h4>
        <p>Email: <a href="mailto:support@yourcompany.com">support@yourcompany.com</a></p>
        <p>Telefon: (123) 456-7890 <br> (123) 456-7890</p>
        <ul class="social-links">
          <li><a href="https://twitter.com/yourcompany" target="_blank">Twitter</a></li>
          <li><a href="https://linkedin.com/company/yourcompany" target="_blank">LinkedIn</a></li>
          <li><a href="https://facebook.com/yourcompany" target="_blank">Facebook</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2025 eStudentskiServis. All rights reserved. <br> Dizajn i webDev : <a href="https://www.linkedin.com/in/amir-jusufovi%C4%8792/">Amir Jusufovic</a></p>
    </div>
  </footer>
</body>
</html>