<%- include("partials/navbar") %>

<div class="apply-wrap">
    <div class="apply-form">
<h2>Apliciraj </h2>
<form method="POST">
  <input name="full_name" placeholder="Ime i Prezime" required>
  <input name="email" placeholder="Email" required>
  <button type="submit">Potvrdi aplikaciju</button>
</form>
    </div></div>
    <%- include("partials/footer") %>

