<%- include("partials/navbar") %>
<div class="tijelo">
<div class="cont">
  <div class="title"><span>Login Form</span></div>
<form action="/login" method="POST">
  <div class="red">
    <i class="fas fa-user"></i>
  <input type="email" name="email" placeholder="Email" required><br>
  </div>
  <div class="red">
    <i class="fas fa-lock"></i>
    <input type="password" name="password" placeholder="Password" required><br>
  </div>
  <div class="row button">
    <input type="submit" value="Login" />
  </div>
  <div class="signup-link">Nemas Profil <a href="/register">Registruj se</a></div>
</form>
</div>
</div>
</div>
<%- include("partials/footer") %>